body{
    background-image: url("../images/background.jpg");
    background-size: contain
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
button{
    width: 150px;
    color: white;
    background-color: rgb(40, 184, 241);
}
#wrapper{
    margin-left: 15%;
    margin-right: 15%
}
#imageHolder{
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 22%;
    border-style: dotted;
    border-color: black;
}
#head,
#newButton,
#buttons{
    text-align: center
}
