body{
    background-image: url("/assets/images/sports.jpg")
}
#wrapper{
    margin-left: 15%;
    margin-right: 15%
}
#imageHolder{
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 22%;
    border-style: dotted;
    border-color: black;
}
#head,
#newButton,
#buttons{
    text-align: center
}